@{
    ViewBag.Title = "About";

}

<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap"
      rel="stylesheet">
<h2 class="text-black font-bold text-center mt-16"> About us</h2>
<div class=" container   border  mt-16 shadow" style="font-family: 'oppins', sans-serif; border-radius:10px">
    <div class="card">

        <h3 class="font-semibold text-gray-900">Welcome to HotelElite.com</h3><br />
        <p class="text-xl " style=" font-size: 18px; color: hsl(229, 6%, 66%);">
            HotelElite.com is a leading provider of hotel accommodation, offering booking services through its own network of localised websites.<br /><br />
            HotelElite.com gives travellers one of the widest selections of accommodation on the net, including both independent and major chain hotels as well as self-catering in over hundreds of thousands properties worldwide.<br /><br /> The company offers a one-stop shopping source for hotel pricing, amenities and availability.
        </p>
    </div>
</div>