@{
    ViewBag.Title = "About";

}

<style>
    h1 {
        font: bold 100% sans-serif;
        letter-spacing: 0.5em;
        text-align: center;
        text-transform: uppercase;
        color: white;
        font-size: larger
    }

    div.container {
        margin-top: 20px;
        border-radius: 10px;
    }
</style>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap"
      rel="stylesheet">
<div class="container-fluid">
    <div class="container  border-r-0 bg-purple-700">
        <h1 class="text-white">About us</h1>
    </div>
</div>


<div class=" container   border  mt-16 shadow" style="font-family: 'oppins', sans-serif; border-radius: 10px; border-bottom: 3px solid rgb(126 34 206);">
    <div class="card">

        <h3 class="font-semibold text-gray-900">Welcome to HotelElite.com</h3><br />
        <p class="text-xl text-muted" style=" font-size: 18px; ">
            HotelElite.com is a leading provider of hotel accommodation, offering booking services through its own network of localised websites.<br /><br />
            HotelElite.com gives travellers one of the widest selections of accommodation on the net, including both independent and major chain hotels as well as self-catering in over hundreds of thousands properties worldwide.<br /><br /> The company offers a one-stop shopping source for hotel pricing, amenities and availability.
        </p>
    </div>
</div>