
@{
    ViewBag.Title = "BookedScreen";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.src = "https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js";
    }

    <div class="container" style="height:100%">
        <center>
            <script src="@ViewBag.src"></script>
            <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_ynz5xr.json" background="transparent" speed="1" style="width: 300px; height: 300px;" autoplay></lottie-player>

            <h2 class=" text-gray-800 ">You have successfully booked the room.</h2><br />
            <a class="btn bg-purple-700 text-white" href="@Url.Action("Index","Home")">Back to Home</a>
            <a class="btn bg-purple-700 text-white" href="@Url.Action("UserBookings","Home")">Your Bookings</a>
        </center>
    </div>

