@{
    ViewBag.Title = "Contact";
}


<div class="container border shadow mt-16"  style="">
    <h2 class="font-bold text-center mt-16">Contact us</h2>

    <hr class="" style="border:inset"></hr>
   <h3 class="text-center font-semibold">Have any Questions? We'd love to here from you</h3><br />

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        
    </address>

    <address>

        <strong>Support:</strong>   <a href="mailto:HelpDeskHotelElite@yopmail.com">HelpDeskHotelElite@yopmail.com</a><br />
        <strong>Contact:</strong> <a href="tel:+919940486923">9940486923</a>
    </address>
</div>