@{
    ViewBag.Title = "Contact";
}
<style>
    h1 {
        font: bold 100% sans-serif;
        letter-spacing: 0.5em;
        text-align: center;
        text-transform: uppercase;
        color: white;
        font-size: larger
    }

    div.container {
        margin-top: 20px;
        border-radius: 10px;
    }
</style>

<div class="container border shadow mt-16" style="border-bottom: 3px solid rgb(126 34 206);">

    <div class="container  border-r-0 bg-purple-700" style="max-width:800px">
        <h1 class="text-white">Contact us</h1>
    </div>

    <hr class="divider" />
    <h3 class="text-center mt-16 font-semibold">Have any Questions? We'd love to here from you</h3><br />



    <center>

        <strong>Support</strong><br />  <a href="mailto:HelpDeskHotelElite@yopmail.com" class="">HelpDeskHotelElite@yopmail.com</a><br />
        <br /><strong>Contact</strong><br /> <a href="tel:+919940486923">9940486923</a>
    </center>
    <br />
</div>
