@{
    ViewBag.Title = "Home Page";
}

<center>

    <h1 class="display-1">Hotel Management System</h1>
    
    <a class="btn btn-primary" href="@Url.Action("Rooms")">Click here to Book</a>
</center>

