@model IEnumerable<HotelManagementWeb.Models.Room>
@{
    ViewBag.Title = "Rooms";
}

<h2 class="text-center">Available Rooms</h2>
<div class="container-fluid p-6 " >
    @foreach (var item in Model)
    {
       
        //item.ImageByte = null;

       
            Html.RenderPartial("RoomCard", item);
        

    }

</div>