@model IEnumerable<HotelManagementWeb.Models.Room>
@{
    ViewBag.Title = "Rooms";
}

<h2>Rooms</h2>
<div class="container" >
    @foreach (var item in Model)
    {
        //item.CheckInOutDate.CheckIn = (DateTime)ViewData["CheckIn"];
        //item.CheckInOutDate.CheckOut = (DateTime)ViewData["CheckOut"];

        @Html.Partial("RoomCard", item)
    }

</div>